#####################################################
# PROJECT: HumanResourceData
# ref: https://git-scm.com/docs/gitignore
#####################################################

# DEV ENVIRONMENT #
media_cdn/
static_cdn/
createapp.sh

# dotenv
.env

# Django #
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3

# Backup Files #
*.bak
