{% extends 'base.html' %}
{% load static %}

{% block meta_description %}
    Meta/SEO Description
{% endblock meta_description %}

{% block title %}
    User Registration - {{ block.super }}
{% endblock title %}


{% block content %}

<style type="text/css">
</style>

{% block page_header_js %}
{% endblock page_header_js %}

<div class="container">
    <div class="row justify-content-center">
        <div class="card card-signin">
            <div class="card-body">
                <form class="form-signin" method="post">
                    {% csrf_token %}
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address"
                           required autofocus>

                    <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username"
                           required>

                    <input type="password" name="password1" id="inputPassword1" class="form-control"
                           placeholder="Password" required>

                    <input type="password" name="password2" id="inputPassword2" class="form-control"
                           placeholder="Confirm password" required>

                    {% for field in registration_form %}
                    <p>
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    {% endfor %}

                    {% if registration_form.non_field_errors %}
                    <div style="color: red">
                        <p>{{registration_form.non_field_errors}}</p>
                    </div>
                    {% endif %}

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

                </form>
            </div>
        </div>

    </div>
</div>

{% block page_footer_js %}
{% endblock page_footer_js %}

{% endblock content %}